
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Poppins';
    margin: 0px;
}

body, html, .wrapper {
	height: 100%
}

.playgroundContainer{
	height: 90%;
	width: 90%;
	margin: auto;
}

#fileInput {
	display: none;
}

.playgroundButton {
	margin: 4px;
}
